# include all hidden files except the gitignore file
.*
!.*ignore
!.*keep
!.*rc
!.*js
!.*json
!.*config

# log files
*.log*

# Mac OSX Finder
.DS_Store

# node modules
node_modules/

# bower components
bower_components/

# backup zip
/backup/

# distribution
/dist/

# test
{{#unit}}
/test/unit/coverage/
{{/unit}}
{{#e2e}}
/test/e2e/reports/
{{/e2e}}

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
