// --------------------------------------------------
// RWD devices information
// --------------------------------------------------
$mobile: "min-width: 0";
$mobile-only: "max-width: 519px";
$tablet-small: "min-width: 520px";
$tablet: "min-width: 760px";
$desktop: "min-width: 960px";
$desktop-wide: "min-width: 1280px";
